<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmploymentService.Properties.Settings.DBemploymentConnectionString"
            connectionString="Data Source=WIN-GKMEGO7B1S6\SQLEXPRESS;Initial Catalog=DBemployment;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>